<div class="float-right" style="padding-right: 80px;">
    <a routerLink="/project-add">
        <button type="button" class="btn btn-outline-primary">Add project</button>
    </a>
</div>
<br>

<div class="container">
    <h5>Project list</h5>
</div>
<hr>
<br>

<div id="project-list" class="container">
    <table class="table table-striped center">
        <thead>
            <tr>
                <th scope="col">Id #</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Detail</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projectList">
                <td> {{ project.project_id }} </td>
                <td> {{ project.project_name }} </td>
                <td> {{ project.description }} </td>
                <td> <a routerLink="/project-detail"> view </a>
                </td>
            </tr>        
        </tbody>
    </table>
</div><br>