<div class="container">
    <h4>
        Add new project
    </h4>
</div>
<hr>

<!-- <div class="container" style="color: green;">
    <h5> {{feedback}}</h5>
</div> -->

<div class="container" style="width: 50%;">
    <form [formGroup]="projectRegisterForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" formControlName="project_name" [class.is-invalid]="projectName.invalid && 
                projectName.touched" required>
            <!-- single validation -->
            <!-- <small class="text-danger" [class.d-none]="projectName.valid ||
             projectName.untouched"> Project name is required </small> -->
            <div *ngIf="projectName.invalid && projectName.touched">
                <small class="text-danger" *ngIf="projectName.errors?.required"> Project name is required </small>
                <small class="text-danger" *ngIf="projectName.errors?.minlength"> Project name must be at least 3
                    characters </small>
            </div>
        </div>
        <div class="form-group">
            <label for="desc">Description:</label>
            <input type="text" class="form-control" id="desc" formControlName="description" required [class.is-invalid]="projectDescription.invalid && 
            projectDescription.touched">
            <div *ngIf="projectDescription.invalid && projectDescription.touched">
                <small class="text-danger" *ngIf="projectDescription.errors?.required"> Project description is required
                </small>
                <small class="text-danger" *ngIf="projectDescription.errors?.minlength"> Project description must be at
                    least 5 characters </small>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!projectRegisterForm.valid">Submit</button>
    </form>
</div><br><br>