<div>
    <h2 class="text-center"> Welcome to</h2>
    <h2 class="text-center">Turntabl Client Management System</h2>
</div><br>

<div>
    <!-- <img id="welcome-img" src="assets/img/undraw_Hello_qnas.svg" alt="view-form-turntabl-snap" style="width:auto; height: auto;"> -->
    <img id="welcome-img" src="assets/img/undraw_software_engineer_lvl5.svg" alt="view-form-turntabl-snap"
        style="width:auto; height: 245px;">
</div>

<div class="container">
        <button type="button" class="btn btn-outline-primary btn-sm">Sign in with Github </button>
</div>