<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  body {
    margin: 0;
  }

  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  ul.topnav li {
    float: left;
  }

  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul.topnav li a:hover:not(.active) {
    background-color: #111;
  }

  ul.topnav li a.active {
    background-color: #4CAF50;
  }

  ul.topnav li.right {
    float: right;
  }

  @media screen and (max-width: 600px) {

    ul.topnav li.right,
    ul.topnav li {
      float: none;
    }
  }

  /* .footer {
    /* position: absolute; */
    /* left: 0; */
    /* bottom: 0px; */
    /* width: 100%; */
    /* text-align: center; */
  /* } */

</style>


<nav>
    <div>
        <ul class="topnav">
          <!-- <li><a  routerLink="/homepage" class="active">Home</a></li> -->
          <li><a  routerLink="/homepage" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/client-list" routerLinkActive="active">Clients</a></li>
          <li><a routerLink="/project-list" routerLinkActive="active">Projects</a></li>
          <li style="padding-left: 60%; color: #4CAF50;"><a routerLink="/homepage">TCMS</a></li>
        </ul>
  
      </div><br>
     
</nav>

<router-outlet></router-outlet>
<!-- <app-client-add></app-client-add> -->

<br>
<footer class="footer container-fluid p-3 text-center text-light bg-info"
    style="background-color: #15324f !important;">
    <div class="container" style="margin-top: 10px">
        Turntable Management System &nbsp; | &nbsp;
        Copyright &copy; 2019 &nbsp; <br>
        <br>
    </div>
</footer>

